@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
  box-sizing: border-box; 
}

/* --------------------------
  STICKY FOOTER
--------------------------- */

html, body {
    height: 100%;
    margin: 0;
}

.main-wrapper:after {
    content: "";
    display: block;
}

.wrapper:after, footer {
    height: 190px;
}

/* --------------------------
  MAIN CONTENT
--------------------------- */

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

a {
    color: #656a6e;
    text-decoration: none;
    font-weight: 400; 
}

.main-wrapper {
    min-height: 100%;
    margin-bottom: -190px;
    max-width: 100%;
    margin: auto;
}

/* --------------------------
  HEADER & NAVIGATION
--------------------------- */

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75em;
}

.main-logo {
    display: block;
    align-self: center; 
    width: 280px;
}

.logo-img {
    width: 100%;
}

li > a {
    margin: 0.75em 0;
}


li > a p {
    margin: 0.35em 0;
    padding: 0;
}

nav {
    z-index: 5;
}

.nav {
    margin-left: auto;
    margin right: auto;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    background-color: #003436;
}

.nav a {
    display: block;
    color: #fff;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #ebecec;
}

.nav a:hover {
    color: #52bab3;
    border-bottom-color: #52bab3;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-check:checked ~ .nav {
    display: block;
}

.nav-label {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    position: absolute;
    right: 0;
    bottom: 0em;
}

.nav-open,
.nav-close {
    display: block;
    width: 100%;
}

.nav-check:checked ~ .nav-label {
    color: #52bab3;
}

.nav-close {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
    display: block;
}

.current {
    color: #52bab3;
}

a + p {
    margin: 0;
}


/* --------------------------
  ABOUT SECTION
--------------------------- */

.about-section {
    margin: 0 auto 3em auto;
}

#name {
    margin: 1.3em auto 0.355rem auto;
    text-align: center;
}

h3 + h5 {
    text-align: center;
    font-weight: normal;
}

.profile-pic {
    width: 12em;
    border-radius: 50%;
    margin: 3em auto 1.5em auto;
}

/* --------------------------
  CLEARFIX
--------------------------- */

.group::after {
    content: " ";
    display: table;
    clear: both;
}

/* --------------------------
  PREVIEW SECTION
--------------------------- */

.slick-dots li button:before {
    font-size: 10px;
}

a {
    margin: 0;
}

img {
    display: block;
    margin: 0;
    width: 100%;
}

figure {
    display: inline-block;
    margin: 0;
    position: relative;
    overflow: hidden;
    
}

a figcaption {
    display: block;
    padding: 0.95em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0em;
    transition: all 200ms ease-out;
}

figcaption > h2 {
    font-size: 1.2656rem;
    line-height: 1.1852;
    text-align: center;
    color: white;
    margin: 0.75em 0;
}

figcaption > h5 {
    text-align: center;
    margin: 0.75em 0;
}

.previews {
    height: 100%;
}

/* --------------------------
  CAROUSEL BANNERS
--------------------------- */

.banner-carousel {
    width: 100%;
    height: 480px; /* 480px is 30em which fits to the baseline grid */
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

/* --------------------------
  BANNERS
--------------------------- */

#all-border-top {
    padding-bottom: 3em;
}

#all-border {
    padding-bottom: 3em;
}

.banner {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.typo {
    background-image:url("../images/banner-typography.jpg");
}

.illustration {
    background-image:url("../images/banner-illustration.jpg");
}

.interactive {
    background-image:url("../images/banner-interactive.jpg");
}

.motion {
    background-image:url("../images/banner-motion.jpg");
}

#tab {
    border-top-right-radius: 40px;
}

section figure {
    display: block;
    overflow: visible;
    position: relative;
}

section figcaption {
    display: block;
    padding: 0em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    width: 45%;
    bottom: 0em;
}

section figure:hover figcaption {
    bottom: 0em;
}

/* --------------------------
  BUTTONS
--------------------------- */

div + button {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #52bab3;
    background-image: linear-gradient(to bottom, #52bab3, #025E63);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    border: 0;
    color: #fff;
}

button > img {
    display: inline-block;
    width: 3.5em;
    vertical-align: middle;
    padding-right: 0.75em;
}

img + p {
    display: inline-block;
    vertical-align: middle;
}

#project-wrapper > button:hover {
    color: #025E63;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #52bab3);
}


/* --------------------------
  FOOTER
--------------------------- */

footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1.5em;
    background-color: #003436;
}

footer > div {
    justify-content: space-between;
    margin: 0 auto;
}

.social-media-icons {
    display: inline-block;
    border-radius: 50%;
    width: 75px;
    margin: 0;
    padding: 0 0.5em;
}

.copyright {
    display: block;
    color: white;
    text-align: center;
    margin: 0.75em auto 0 auto;
    padding: 0;
}

.terms {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.terms p {
    text-align: center;
    margin: 0.175em auto;
}

/* --------------------------
  MEDIA QUERIES
--------------------------- */

@media (min-width: 769px) {
    
    #columns {
        -webkit-column-count: 2;
		-webkit-column-gap: 3em;
	
		-moz-column-count: 2;
		-moz-column-gap: 3em;
	}
    
	.main-header {
		justify-content: space-between;
        max-width: 72%;
        margin: 0 auto;
        padding: 1.5em 0 0.75em;
	}
	.nav {
        display: flex;
        flex-direction: column;
		flex-direction: row;
		justify-content: space-between;
        align-self:center;
        position: relative;
        background-color: transparent;
        top: 0;
        
	}
	.nav a {
		border-bottom-color: transparent;
        color: #025E63;
	}
    
    nav a: hover {
        color: #0b0b0b;    
    }
    
    footer > div {
        max-width: 50%
    }

    .nav-check:checked ~ .nav {
        display: flex;
    }
    
    .nav-label {
        display: none;
        cursor: default;
        width: 60px;
        position: absolute;
    }
    
    .nav-open,
    .nav-close {
        display: inline-block;
        width: 100%;
    }
    
    .nav-check:checked ~ .nav-label .nav-open {
        display: inline-block;
    }
    
    .nav-check:checked ~ .nav-label .nav-close {
        display: inline-block;
    }
    
    .main-wrapper {
        max-width: 95%;   
    }
    
    #project-wrapper {
        max-width: 85%%;
    }
    
    .previews-home {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1026px) {
    
    .main-wrapper {
        max-width: 85%;   
    }
    
    #project-wrapper {
        max-width: 85%;
        margin: 0 auto;
    }
    
    .about-section, .push-top-double {
        max-width: 95%;
    }
    
    #breathing-space {
        display: block;   
    }
    
    .previews-home {
        margin: 0 auto;
    }
    
    a figcaption {
        bottom: -7em;   
    }
    
    figure:hover figcaption {
        bottom: 0em;
    }
}


@media (min-width: 1545px) {
    .main-header {
        max-width: 100%;
        flex-direction: row;align-items:
    }
    .nav {
        flex-direction: row; align-items:;
        
    }
    .nav li {
        padding: 0 .75em;
    }
    
    .main-logo {
        margin-right: auto;
    }
    .main-wrapper {
        max-width: 75%;   
    }
    
    #project-wrapper {
        max-width: 75%;
    }
    
    .about-section, .push-top-double {
        max-width: 82%;   
    }
    
    .previews-home {
        max-width: 100%;
        margin: 0 auto;
    }
}















