@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
  box-sizing: border-box; 
}

/* --------------------------
  STICKY FOOTER
--------------------------- */

html, body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 145px;
}

.main-wrapper {
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -190px;
}

.main-wrapper:after {
    content: "";
    display: block;
}

.main-wrapper:after, footer {
    height: 190px;
}

/* --------------------------
  MAIN CONTENT
--------------------------- */

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

a {
    color: #656a6e;
    text-decoration: none;
    font-weight: 400; 
}

.main-wrapper {
    min-height: 100%;
    margin-bottom: -190px;
    max-width: 100%;
}

.preview-wrapper {
    max-width: 90%;
    margin: 0 auto;
}

#project-wrapper {
    margin: 0 auto;
}

.previews {
    width: 100%;
}

/* --------------------------
  HEADER & NAVIGATION
--------------------------- */

.main-header-container {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    height: 145px;
    top: 0;
    z-index: 1000;
}

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-logo {
    display: block;
    align-self: center;
    margin: 1em auto;
    padding-right: 1em;
    width: 8em;
}

.logo-img {
    width: 100%;
}

li > a {
    margin: 0.75em 0;
}


li > a h6 {
    margin: 0.5em 0;
    padding: 0;
}

nav {
    z-index: 5;
}

.nav {
    display: none;
    margin-left: auto;
    margin right: auto;
    position: absolute;
    right: 0;
    top: 145px;
    width: 100%;
    background-color: #003436;
    z-index: 5;
}

.blog-nav {
    display:-webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-self:center;
    margin: 0 auto;
    max-width: 25em;
    width: 100%;
}

.nav a {
    display: block;
    color: #fff;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ebecec;
}

.nav a:hover {
    color: #52bab3;
    border-bottom-color: #52bab3;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-check:checked ~ .nav {
    display: block;
}

.nav-label {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    position: absolute;
    right: 0.75rem;
    top: 3em;
}

.nav-open,
.nav-close {
    display: block;
    width: 100%;
}

.nav-check:checked ~ .nav-label {
    color: #52bab3;
}

.nav-close {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
    display: block;
}

.current {
    color: #52bab3;
}

a + p {
    margin: 0;
}


/* --------------------------
  ABOUT SECTION
--------------------------- */

#project-wrapper .push-top-double {
    max-width: 95%;
}

.push-top-double > h1 {
    margin: 1.5em auto 0.355em auto; 
}

.push-top-double .preview-wrapper > p:last-child {
    margin-bottom: 4.5em;
}

.about-me {
    margin: 1.5em auto 3em auto;
    max-width: 90%;
}

.profile-pic {
    width: 20em;
    border-radius: 50%;
    margin: 3em auto 1.5em auto;
}

#sebastian {
    margin: 1.3em auto 0.355rem auto;
    padding-top: 4em;
    text-align: center;
    color: #FFF;
    font-weight: normal;
}

#sebastian + h5 {
    margin: 0.355rem;
}

.photo-container {
	text-align: center;
}

.photo {
	position: relative;
	line-height: 0;
	overflow: hidden;
}

.photo-container img {
 	max-width: 100%;
}

.photo-overlay {
    max-width: 100%;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(82,186,179, .65);
}

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

#columns > p {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 1.5em;
}

h1 #columns p:last-child {
    margin-bottom: 4.5em;
}

.about-section {
    margin: 0 auto 4em auto;
    max-width: 95%;
}

.push-top-double > .preview-wrapper {
    max-width: 90%;
    margin-left: 5%;
}

h3 + h5 {
    text-align: center;
    font-weight: normal;
}

.contact {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 1.5em; 
}

.border-bottom {
    border-bottom: 1px solid #52bab3;
    padding-bottom: 1.5rem;
}

.e-mail {
    display: block;
    width: 100%;
    margin: 0 auto 0 0.75rem;   
}

.e-mail-icon {
    display: inline-block;
    width: 3.5em;
    vertical-align: middle;
    padding-right: 0.75em;
}

img + h5 {
    display: inline-block;
    vertical-align: middle;
}

/* --------------------------
  CLEARFIX
--------------------------- */

.group::after {
    content: " ";
    display: table;
    clear: both;
}

/* --------------------------
  PREVIEW SECTION
--------------------------- */

.slick-dots li button:before {
    font-size: 10px;
}

a {
    margin: 0;
}

img {
    display: block;
    margin: 0;
    width: 100%;
}

figure {
    display: inline-block;
    margin: 0;
    position: relative;
    overflow: visible;
    width: 100%;
}

.preview-wrapper > figure {
    border: #d9e4ea solid 1px;
}

#project-wrapper .unit {
    border: solid 1px #d9e4ea;   
}

a figcaption {
    display: inline-block;
    padding: 0.75em;
    background-color: #025E63;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0em;
}

figcaption > h2 {
    font-size: 1.2656rem;
    line-height: 1.1852;
    text-align: center;
    color: white;
    margin: 0.75em 0;
}

figcaption > h5 {
    text-align: center;
    margin: 0.75em 0;
}

section figure {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0em;
    padding: 0em;
}

section figcaption {
    display: inline-block;
    margin: 0em;
    padding: 0em;
    background-color: rgba(2,94,99,0.9);
    color: white;
    position: absolute;
    width: 45%;
    bottom: 0em;
}

.preview-wrapper img + figcaption {
    max-width: 100%;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(82,186,179, .85);
}

figure {
    position: relative;
	line-height: 0;
    overflow: hidden;
}

.preview-wrapper figure img {
    transition: transform .5s;   
}

.preview-wrapper figure:hover img {
    overflow: hidden;
    transform: scale(1.2);
}

.preview-wrapper img + figcaption {
	opacity: 0;
	transition: opacity .5s;
}

.preview-wrapper img + figcaption:hover {
	opacity: 1;
}

section figure:hover figcaption {
    bottom: 0em;
}

/* --------------------------
  CAROUSEL BANNERS
--------------------------- */

.banner-carousel {
    width: 100%;
    height: 20em;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

/* --------------------------
  BANNERS
--------------------------- */

.banner {
    width: 100%;
    height: 20em;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.typo {
    background-image:url("../images/banner-typography.jpg");
}

.illustration {
    background-image:url("../images/illustration/senator-campaign-banner.jpg");
}

.interactive {
    background-image:url("../images/banner-interactive.jpg");
}

.motion {
    background-image:url("../images/motion/building-a-portfolio-banner.jpg");
}

.blog-banner {
    background-color: #d9e4ea;
    margin-bottom: 1.5em;
}

.bridgehead {
    background-color: #d9e4ea;
}

.cirque {
    background-color: #d9e4ea;
}

.go-with-the-flow {
    background-color: #d9e4ea;
}

.collage {
    background-color: #d9e4ea;
}

.obsessed-with-speed {
    background-color: #d9e4ea;
}

.the-tennis-serve {
    background-color: #d9e4ea;
}

.senator-campaign {
    background-color: #d9e4ea;
}

.company-poster {
    background-color: #d9e4ea;
}

.blues-brothers {
    background-color: #d9e4ea;
}

.ascent-app {
    background-color: #d9e4ea;
}

.good-to-talk-app {
    background-color: #d9e4ea;
}

.palisar {
    background-color: #d9e4ea;
}

.galactic-adventures {
    background-color: #d9e4ea;
}

.demo-reel {
    background-color: #d9e4ea;
}

.blue-hen-farm {
    background-color: #d9e4ea;
}

.building-a-portfolio {
    background-color: #d9e4ea;
}

.tennis-infographic {
    background-color: #d9e4ea;
}

#tab {
    border-top-right-radius: 40px;
}

/* --------------------------
  BUTTONS
--------------------------- */

div + button {
    display: block;
    width: 15em;
    margin: 1.5rem auto;
    background-color: #52bab3;
    background-image: linear-gradient(to bottom, #52bab3, #025E63);
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    border: 0;
    color: #fff;
}

#submit {
    display: block;
    width: 15em;
    margin: 1.5rem auto;
    background-color: #52bab3;
    background-image: linear-gradient(to bottom, #52bab3, #025E63);
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    border: 0;
    color: #fff;   
}

button > img {
    display: inline-block;
    width: 3.5em;
    vertical-align: middle;
    padding-right: 0.75em;
}

img + p {
    display: inline-block;
    vertical-align: middle;
}

#project-wrapper > button:hover {
    color: #025E63;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #52bab3);
}


/* --------------------------
  FOOTER
--------------------------- */

footer {
    display: block;
    text-align: center;
    padding-top: 1.75em;
    background-color: #003436;
}

footer > div {
    justify-content: space-between;
    margin: 0 auto;
}

.social-media-icons {
    display: inline-block;
    border-radius: 50%;
    width: 75px;
    margin: 0;
    padding: 0 0.5em;
}

.copyright {
    display: block;
    color: white;
    text-align: center;
    margin: 0.75em auto 0 auto;
    padding: 0;
}

.terms {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.terms p {
    text-align: center;
    margin: 0.175em auto;
}

/* --------------------------
  MEDIA QUERIES
--------------------------- */

@media (min-width: 30.063em) {
    
    .main-logo {
        margin: 0.25em auto;   
    }
    
    .banner-carousel {
        height: 25em;
    }
    
    .push-top-double > h1 {
        max-width: 80%;
        margin: 1.75em auto 0.355em auto;    
    }
    
    #columns {
        -webkit-column-count: 1;
		-webkit-column-gap: 3em;
	
		-moz-column-count: 1;
		-moz-column-gap: 3em;
        
        max-width: 80%;
        margin: 0 auto;
	}
    
    .main-header {
        margin: 0 auto;
        padding: 1.5em 0 0.75em;
        -webkit-justify-content: space-between;
		justify-content: space-between;   
    }
    
    .main-wrapper {
        max-width: 100%;   
    }
    
    .preview-wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
    
    #project-wrapper {
        max-width: 95%;
        margin: 0 auto;
    }
    
    .about-section {
        max-width: 95%;
        margin: 1.5rem auto 5em auto;
    }
    
    .push-top-double > .preview-wrapper {
        max-width: 80%;
    }
    
    .previews-home {
        max-width: 100%;
        margin: 0 auto;
    }
    
    footer > div {
        max-width: 50%
    }
    
}

@media (min-width: 40.063em) {
    
    body {
        padding-top: 170px;   
    }
    
    .nav {
        display:-webkit-flex;
        display: flex;
		flex-direction: row;
        -webkit-justify-content: space-between;
		justify-content: space-between;
        align-self:center;
        position: relative;
        background-color: transparent;
        top: 0; 
	}
    
    .blog-nav {
        display:-webkit-flex;
        display: flex;
    }
    
	.nav a {
		border-bottom-color: transparent;
        color: #025E63;
	}
    
    nav a: hover {
        color: #0b0b0b;    
    }

    .nav-check:checked ~ .nav {
        display:-webkit-flex;
        display: flex;
    }
    
    .nav-label {
        display: none;
        cursor: default;
        width: 60px;
        position: absolute;
    }
    
    .nav-open,
    .nav-close {
        display: inline-block;
        width: 100%;
    }
    
    .nav-check:checked ~ .nav-label .nav-open {
        display: inline-block;
    }
    
    .nav-check:checked ~ .nav-label .nav-close {
        display: inline-block;
    }
    
    .push-top-double > h1 {
        max-width: 75%;
        margin: 2.5em auto 0.355em auto;    
    }
    
    #columns {
    -webkit-column-count: 1;
    -webkit-column-gap: 4em;

    -moz-column-count: 1;
    -moz-column-gap: 4em;
        
    max-width: 75%;
	}
    
    .main-header {
        max-width: 72%;
	}
    
    .main-header-container {
        height: 175px;   
    }
    
    .main-wrapper {
        max-width: 100%;   
    }
    
    .preview-wrapper {
        max-width: 85%;
        margin: 0 auto;
    }
    
    #project-wrapper {
        max-width: 75%;
        margin: 0 auto;
    }
    
    .about-section {
        max-width: 90%;
        margin: 1.5rem auto 6em auto;
    }
    
    .push-top-double > .preview-wrapper {
        max-width: 75%;
    }
    
    #breathing-space {
        display: block;   
    }
}


@media (min-width: 80.063em) {
    
    body {
        padding-top: 110px;   
    }
    
    .main-header-container {
        height: 115px;   
    }
    
    .main-logo {
        margin: 0rem auto 0.75rem 0;
    }
    
    .push-top-double h1 {
        max-width: 70%;  
    }
    
    #columns {
    -webkit-column-count: 1;
    -webkit-column-gap: 5em;

    -moz-column-count: 1;
    -moz-column-gap: 5em;
        
    max-width: 70%;
	}
    
    .main-header {
        width: 100%;
        -webkit-flex-direction: row;align-items;
        flex-direction: row;align-items:;
    }
    .nav {
        display:-webkit-flex;
        display: flex;
        -webkit-flex-direction: row;align-items:;
        flex-direction: row;align-items:;
    }
    .nav li {
        padding: 0 .75em;
    }
    
    .main-wrapper {
        max-width: 90%;   
    }
    
    .preview-wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
    
    #project-wrapper {
        max-width: 70%;
        margin: 0 auto;
    }
    
    .about-section {
        max-width: 80%;
    }
    
    .push-top-double > .preview-wrapper {
        max-width: 65%;
    }
    
    .previews-home {
        max-width: 100%;
        margin: 0 auto;
    }
}















