html {
    font: normal 100%/1.5 "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: #797e83;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}

.yotta {
    font-size: 2.28rem
}

.zetta {
    font-size: 2.027rem;
}

h1, .exa {
    font-size: 1.802rem
}

h2, .peta {
    font-size: 1.602rem;
}

h3, tera {
    font-size: 1.424rem;
}

h4, giga {
    font-size: 1.266rem;
}

h5, .mega {
    font-size: 1.125rem;
}

h6, .kilo {
    font-size: 1rem; 
}

.mili {
    font-size: 0.889rem;
}

.micro {
    font-size: 0.79rem; 
}

p {
    margin: 0.5rem;
}



