---
layout: default
---

<h1>All Projects</h1>

<section>
    <figure class="banner typo">
        <figcaption><h4>Typography</h4></figcaption>
    </figure>
</section>

{% include typography.html %}

<section>
    <figure class="banner illustration">
        <figcaption><h4>Illustration</h4></figcaption>
    </figure>
</section>

{% include illustration.html %}

<section>
    <figure class="banner interactive">
        <figcaption><h4>Interactive</h4></figcaption>
    </figure>
</section>

{% include interactive.html %}

<section>
    <figure class="banner motion">
        <figcaption><h4>Motion</h4></figcaption>
    </figure>
</section>

{% include motion.html %}