---
layout: default
---

<section>
    <figure class="banner typo">
        <figcaption id="tab"><h5>Typography</h5></figcaption>
    </figure>
</section>

{% include typography.html %}

<section>
    <figure class="banner illustration">
        <figcaption id="tab"><h5>Illustration</h5></figcaption>
    </figure>
</section>

{% include illustration.html %}

<section>
    <figure class="banner interactive">
        <figcaption id="tab"><h5>Interactive</h5></figcaption>
    </figure>
</section>

{% include interactive.html %}

<section>
    <figure class="banner motion">
        <figcaption id="tab"><h5>Motion</h5></figcaption>
    </figure>
</section>

{% include motion.html %}