<div class="grid">
    <figure class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
        <a href="{{site.baseurl}}../illustration/tennis-serve/">
            <img src="{{site.baseurl}}/images/illustration/the-tennis-serve-cover.jpg" alt="The tennis serve">
            <figcaption>
                <h5>The Tennis Serve</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
        <a href="{{site.baseurl}}../illustration/senator-campaign/">
            <img src="{{site.baseurl}}/images/illustration/senator-campaign-cover.jpg" alt="Senator Campaign">
            <figcaption>
                <h5>Senator Campaign</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
        <a href="{{site.baseurl}}../illustration/company-poster/">
            <img src="{{site.baseurl}}/images/illustration/company-poster-cover.jpg" alt="Company Poster">
            <figcaption>
                <h5>Company Poster</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-l-hidden">
        <a href="#">
            <img src="http://placehold.it/300x200" alt="Project 4">
            <figcaption>
                <h5>Project 4</h5>
            </figcaption>
        </a>
    </figure>
</div>