<div class="grid preview-wrapper">
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../illustration/tennis-serve/">
            <img src="{{site.baseurl}}/images/illustration/the-tennis-serve-cover.jpg" alt="The tennis serve">
            <figcaption>
                <h5>The Tennis Serve</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../illustration/ottawa-senators-campaign/">
            <img src="{{site.baseurl}}/images/illustration/senator-campaign-cover.jpg" alt="Senator Campaign">
            <figcaption>
                <h5>Senator Campaign</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../illustration/company-poster/">
            <img src="{{site.baseurl}}/images/illustration/company-poster-cover.jpg" alt="Company Poster">
            <figcaption>
                <h5>Company Poster</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../illustration/blues-brothers/">
            <img src="{{site.baseurl}}/images/illustration/blues-brothers-cover.jpg" alt="Blues Brothers">
            <figcaption>
                <h5>Blues Brothers</h5>
            </figcaption>
        </a>
    </figure>
</div>