<div class="grid">
    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../interactive/ascent-app/">
            <img src="{{site.baseurl}}/images/interactive/ascent-app-cover.jpg" alt="Ascent App">
            <figcaption>
                <h5>Ascent App</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../interactive/good-to-talk-app/">
            <img src="{{site.baseurl}}/images/interactive/good-to-talk-cover.jpg" alt="Good to Talk">
            <figcaption>
                <h5>Good to Talk</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../interactive/palisar/">
            <img src="{{site.baseurl}}/images/interactive/palisar-cover.jpg" alt="Palisar">
            <figcaption>
                <h5>Palisar</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="#">
            <img src="http://placehold.it/300x200" alt="Project 4">
            <figcaption>
                <h5>Project 4</h5>
            </figcaption>
        </a>
    </figure>
</div>