<div class="grid">
    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../interactive/ascent-app/">
            <img src="{{site.baseurl}}/images/interactive/ascent-app-cover.jpg" alt="Ascent App">
            <figcaption>
                <h5>Ascent App</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="#">
            <img src="http://placehold.it/300x200" alt="Project 2">
            <figcaption>
                <h5>Project 2</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="#">
            <img src="http://placehold.it/300x200" alt="Project 3">
            <figcaption>
                <h5>Project 3</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="#">
            <img src="http://placehold.it/300x200" alt="Project 4">
            <figcaption>
                <h5>Project 4</h5>
            </figcaption>
        </a>
    </figure>
</div>