<div class="grid preview-wrapper">
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../motion-design/demo-reel/">
            <img src="{{site.baseurl}}/images/motion-design/demo-reel-cover.jpg" alt="Demo Reel">
            <figcaption>
                <h5>Demo Reel</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../motion-design/blue-hen-farm/">
            <img src="{{site.baseurl}}/images/motion-design/blue-hen-farm-cover.jpg" alt="Blue Hen Farm">
            <figcaption>
                <h5>Blue Hen Farm</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../motion-design/building-a-portfolio/">
            <img src="{{site.baseurl}}/images/motion-design/building-a-portfolio-cover.jpg" alt="Building a Portfolio">
            <figcaption>
                <h5>Building a Portfolio</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../motion-design/tennis-infographic/">
            <img src="{{site.baseurl}}/images/motion-design/tennis-infographic-cover.jpg" alt="Tennis Infographic">
            <figcaption>
                <h5>Tennis Infographic</h5>
            </figcaption>
        </a>
    </figure>
</div>