<div class="grid">
    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../motion/demo-reel/">
            <img src="{{site.baseurl}}/images/motion/demo-reel-cover.jpg" alt="Demo Reel">
            <figcaption>
                <h5>Demo Reel</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../motion/blue-hen-farm/">
            <img src="{{site.baseurl}}/images/motion/blue-hen-farm-cover.jpg" alt="Blue Hen Farm">
            <figcaption>
                <h5>Blue Hen Farm</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="#">
            <img src="http://placehold.it/300x200" alt="Project 3">
            <figcaption>
                <h5>Project 3</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="#">
            <img src="http://placehold.it/300x200" alt="Project 4">
            <figcaption>
                <h5>Project 4</h5>
            </figcaption>
        </a>
    </figure>
</div>