<div class="grid preview-wrapper">
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../print/bridgehead/">
            <img src="{{site.baseurl}}/images/print/bridgehead-cover.jpg" alt="Bridgehead Brochure">
            <figcaption>
                <h5>Bridgehead</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../print/cirque-du-soleil/">
            <img src="{{site.baseurl}}/images/print/cirque-du-soleil-cover.jpg" alt="Cirque du Soleil Anual Report">
            <figcaption>
                <h5>Cirque du Soleil</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../print/rocking-horse/">
            <img src="{{site.baseurl}}/images/print/rocking-horse-cover.jpg" alt="Rocking Horse Manual">
            <figcaption>
                <h5>Rocking Horse</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../print/fast-company/">
            <img src="{{site.baseurl}}/images/print/fast-company-cover.jpg" alt="Fast Company Magazine">
            <figcaption>
                <h5>Fast Company</h5>
            </figcaption>
        </a>
    </figure>
    
    <!--
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../print/go-with-the-flow/">
            <img src="{{site.baseurl}}/images/print/go-with-the-flow-cover.jpg" alt="Go with the Flow">
            <figcaption>
                <h5>Go with the Flow</h5>
            </figcaption>
        </a>
    </figure>
    

    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../print/collage/">
            <img src="{{site.baseurl}}/images/print/collage-cover.jpg" alt="Typographic Collage">
            <figcaption>
                <h5>Collage</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../print/obsessed-with-speed/">
            <img src="{{site.baseurl}}/images/print/obsessed-with-speed-cover.jpg" alt="Obsessed with Speed">
            <figcaption>
                <h5>Obsessed with Speed</h5>
            </figcaption>
        </a>
    </figure> -->
</div>