<div id="preview-wrapper" class="grid">
    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../typography/bridgehead/">
            <img src="{{site.baseurl}}/images/typography/bridgehead-cover.jpg" alt="Bridgehead">
            <figcaption>
                <h5>Bridgehead</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../typography/go-with-the-flow/">
            <img src="{{site.baseurl}}/images/typography/go-with-the-flow-cover.jpg" alt="Go with the Flow">
            <figcaption>
                <h5>Go with the Flow</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../typography/collage/">
            <img src="{{site.baseurl}}/images/typography/collage-cover.jpg" alt="Typographic Collage">
            <figcaption>
                <h5>Collage</h5>
            </figcaption>
        </a>
    </figure>

    <figure class="unit unit-s-1 unit-m-1-2 unit-h-1-4">
        <a href="{{site.baseurl}}../typography/obsessed-with-speed/">
            <img src="{{site.baseurl}}/images/typography/obsessed-with-speed-cover.jpg" alt="Obsessed with Speed">
            <figcaption>
                <h5>Obsessed with Speed</h5>
            </figcaption>
        </a>
    </figure>
</div>