<div class="grid preview-wrapper">
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../web-design/palisar/">
            <img src="{{site.baseurl}}/images/web-design/palisar-cover.jpg" alt="Palisar Website Mockup">
            <figcaption>
                <h5>Palisar</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../web-design/great-lakes/">
            <img src="{{site.baseurl}}/images/web-design/great-lakes-web-cover.jpg" alt="Alliance for the Great lakes Website Mockup">
            <figcaption>
                <h5>Alliance for the Great Lakes</h5>
            </figcaption>
        </a>
    </figure> 
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../web-design/nobile-rackets/">
            <img src="{{site.baseurl}}/images/web-design/nobile-rackets-cover.jpg" alt="Nobile Rackets Website Mockup">
            <figcaption>
                <h5>Nobile Rackets</h5>
            </figcaption>
        </a>
    </figure>
    
    <!--
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../web-design/ascent-app/">
            <img src="{{site.baseurl}}/images/web-design/ascent-app-cover.jpg" alt="Ascent App">
            <figcaption>
                <h5>Ascent App</h5>
            </figcaption>
        </a>
    </figure>
    
    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../web-design/good-to-talk-app/">
            <img src="{{site.baseurl}}/images/web-design/good-to-talk-cover.jpg" alt="Good to Talk">
            <figcaption>
                <h5>Good to Talk</h5>
            </figcaption>
        </a>
    </figure> -->

    <figure class="unit unit-s-1 unit-m-1-2 unit-xl-1-4">
        <a href="{{site.baseurl}}../web-design/galactic-adventures/">
            <img src="{{site.baseurl}}/images/web-design/galactic-adventures-cover.jpg" alt="Galactic Adventures">
            <figcaption>
                <h5>Galactic Adventures</h5>
            </figcaption>
        </a>
    </figure>
</div>