---
layout: default
---

<section class="blog-banner">
    <figure class="banner">
        <figcaption id="tab"><h2>Blog</h2></figcaption>
    </figure>
</section>

<nav>
    <ul class="blog-nav">
        <li><a href="{{site.baseurl}}/blog-web-development/"><h6 class="{% if page.url contains 'web-development' %}current{% endif %}">Web Development</h6></a></li>
        <li><a href="{{site.baseurl}}/blog-mo-graphics/"><h6 class="{% if page.url contains 'graphics' %}current{% endif %}">Motion Graphics</h6></a></li>
    </ul>
</nav>

{{content}}