<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Sebastian Nadeau | Graphic Designer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/js/lightbox/magnific-popup.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/typography.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/grids.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>
<body>
    <div class="main-wrapper">
        
    <!--
        HEADER
    -->
        <header class="main-header">
            <h1 class="main-logo">
                <a href="{{site.baseurl}}/">
                    <img class="logo-img" src="{{site.baseurl}}/images/logotype.svg" alt="Sebastian Nadeau">
                </a>
            </h1>
            <nav>
                <input type="checkbox" class="nav-check" id="nav-check">
                <label class="nav-label" for="nav-check">
                    <img class="nav-open" src="{{site.baseurl}}/images/hamburger-open.svg" alt="Open Navigation">
                    <img class="nav-close" src="{{site.baseurl}}/images/hamburger-close.svg" alt="Close Navigation">
                </label>
                <ul class="nav">
                    <li><a href="{{site.baseurl}}/all"><p class="{% if page.url contains 'all' %}current{% endif %}">All</p></a></li>
                    <li><a href="{{site.baseurl}}/typography/"><p class="{% if page.url contains 'typography' %}current{% endif %}">Typography</p></a></li>
                    <li><a href="{{site.baseurl}}/illustration/"><p class="{% if page.url contains 'illustration' %}current{% endif %}">Illustration</p></a></li>
                    <li><a href="{{site.baseurl}}/interactive/"><p class="{% if page.url contains 'interactive' %}current{% endif %}">Interactive</p></a></li>
                    <li><a href="{{site.baseurl}}/motion"><p class="{% if page.url contains 'motion' %}current{% endif %}">Motion</p></a></li>
                    <li><a href="{{site.baseurl}}/contact"><p class="{% if page.url contains 'contact' %}current{% endif %}">Contact</p></a></li>
                </ul>
            </nav>
        </header>
        
        {{content}}
        
    <!--
        FOOTER
    -->
        
    </div>  
    <footer>
        <div>
            <img class="social-media-icons" src="http://placehold.it/100x100" alt="Behance">
            <img class="social-media-icons" src="http://placehold.it/100x100" alt="Linked In">
            <img class="social-media-icons" src="http://placehold.it/100x100" alt="Vimeo">
        </div>
        <p class="copyright">© 2015 Sebastian Nadeau</p>
        <a class="terms" href="#">
            <p>Terms and Privacy</p>
        </a>
    </footer>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/lightbox/jquery.magnific-popup.min.js"></script>
    <script src="/js/lightbox.js"></script>
</body>
</html>