<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Sebastian's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/typography.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/grids.css">
</head>
<body>
    <div class="main-wrapper">
        
    <!--
        HEADER
    -->
        <header class="main-header">
            <h1 class="main-logo">
                <a href="{{site.baseurl}}/">
                    <img class="logo-img" src="http://placehold.it/180x100" alt="Sebastian Nadeau">
                </a>
            </h1>
            <nav>
                <ul class="nav">
                    <li><a href="{{site.baseurl}}/"><p>All</p></a></li>
                    <li><a href="{{site.baseurl}}/typography/"><p>Typography</p></a></li>
                    <li><a href="{{site.baseurl}}/illustration/"><p>Illustration</p></a></li>
                    <li><a href="{{site.baseurl}}/interactive/"><p>Interactive</p></a></li>
                    <li><a href="{{site.baseurl}}/motion/"><p>Motion</p></a></li>
                    <li><a href="{{site.baseurl}}/contact.html"><p>Contact</p></a></li>
                </ul>
            </nav>
        </header>
        
        {{content}}
        
    <!--
        FOOTER
    -->
        
    </div>  
    <footer class="footer">
        <img class="social-media-icons" src="http://placehold.it/100x100" alt="Behance">
        <img class="social-media-icons" src="http://placehold.it/100x100" alt="Linked In">
        <img class="social-media-icons" src="http://placehold.it/100x100" alt="Vimeo">
        <p class="copyright">© Copyright 2015 Sebastian Nadeau</p>
        <a class="terms" href="#">
            <p>Terms and Privacy</p>
        </a>
    </footer>
    
</body>
</html>