---
---

<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} · {% endif %}Sebastian Nadeau{% if page.titleAfter %} | {{page.titleAfter}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.meta}}">
    <!-- Used by Facebook, Pinterest, Google+ 
    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    -->
    <meta property="og:title" content="{% if page.title %}{{page.title}} · {% endif %}Sebastian Nadeau{% if page.titleAfter %} | {{page.titleAfter}}{% endif %}">
    <meta property="og:image" content="{% if page.featured_image %}{{ page.featured_image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.icon | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    <meta property="og:description" content="{{page.meta}}">
    
    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
    <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/js/carousel/slick.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/js/carousel/slick-theme.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/js/lightbox/magnific-popup.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/typography.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/grids.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>
    
<body>
        
    <!--
        HEADER
    -->
    <div class="main-wrapper">
        <header class="main-header">
            <h1 class="main-logo">
                <a href="{{site.baseurl}}/">
                    <img class="logo-img" src="{{site.baseurl}}/images/logotype.svg" alt="Sebastian Nadeau">
                </a>
            </h1>
            <nav>
                <input type="checkbox" class="nav-check" id="nav-check">
                <label class="nav-label" for="nav-check">
                    <img class="nav-open" src="{{site.baseurl}}/images/hamburger-open.svg" alt="Open Navigation">
                    <img class="nav-close" src="{{site.baseurl}}/images/hamburger-close.svg" alt="Close Navigation">
                </label>
                <ul class="nav">
                    <li><a href="{{site.baseurl}}/all"><h6 class="{% if page.url contains 'all' %}current{% endif %}">All</h6></a></li>
                    <li><a href="{{site.baseurl}}/typography/"><h6 class="{% if page.url contains 'typography' %}current{% endif %}">Typography</h6></a></li>
                    <li><a href="{{site.baseurl}}/illustration/"><h6 class="{% if page.url contains 'illustration' %}current{% endif %}">Illustration</h6></a></li>
                    <li><a href="{{site.baseurl}}/interactive/"><h6 class="{% if page.url contains 'interactive' %}current{% endif %}">Interactive</h6></a></li>
                    <li><a href="{{site.baseurl}}/motion"><h6 class="{% if page.url contains 'motion' %}current{% endif %}">Motion</h6></a></li>
                    <li><a href="{{site.baseurl}}/contact"><h6 class="{% if page.url contains 'contact' %}current{% endif %}">Contact</h6></a></li>
                </ul>
            </nav>
        </header>
        
        {{content}}
        
    <!--
        FOOTER
    -->
        
    </div>  
    <footer>
        <div class="pad-top-half">
            <a href="https://www.behance.net/SebastianNadeau" target="_blank">
                <img class="social-media-icons" src="{{site.baseurl}}/images/behance-icon.svg" alt="Behance">
            </a>
            <a href="https://ca.linkedin.com/in/sebastian-nadeau-943852104" target="_blank">
                <img class="social-media-icons" src="{{site.baseurl}}/images/linkedin-icon.svg" alt="Linked In">
            </a>
            <a href="https://vimeo.com/sebastiannadeau" target="_blank">
                <img class="social-media-icons" src="{{site.baseurl}}/images/vimeo-icon.svg" alt="Vimeo">
            </a>
        </div>
        <div class="pad-bottom-half">
            <p class="copyright">© 2015 Sebastian Nadeau</p>
        </div>
    </footer>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/carousel/slick.min.js"></script>
    <script src="/js/lightbox/jquery.magnific-popup.min.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/lightbox.js"></script>
</body>
</html>